[Desktop Entry]
Type=Application
Name=Cosmos
Comment=Screensaver effect: cosmos
Exec=idle preview cosmos
Icon=trance-cosmos
Terminal=false
Categories=Screensaver;
